div.main{
  margin: 16px;
}

div.stat{
  display: flex;
  flex-direction: row;
}

div.statitem{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.statitem > span{
  font-size: 2rem;
}